<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en"> 
  <head>
    <title>Favorite Locations</title>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

      <h1>Favorite Locations</h1>

      <table class="table">
        <thead>
            <tr>
                <th>Place Id</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Display Name</th>
                <th>Get Earthquakes</th>
               <!-- <th>Add to favorites</th> -->
            </tr>
        </thead>
        <tbody>

            <tr th:each="l : ${locations}">
      
                <td th:text="${l.placeId}"></td>
                
                <td th:text= "${l.latitude}"></td>
                
                <td th:text="${l.longitude}"></td>
  
                <td th:text="${l.name}"></td>

                <td><a th:href="@{/earthquakes/search/(lat=${l.latitude},lon=${l.longitude},location=${l.name})}">Get Earthquakes</a></td>
            <!--
                <td>
                    <form action="#" th:action="@{/locations/add}"  th:object="${location}"  method="post">
                      <input type="hidden" name="placeId" th:value="${place.place_id}" value=""/>
                      <input type="hidden" name="latitude" th:value="${place.lat}" value=""/>
                      <input type="hidden" name="longitude" th:value="${place.lon}" value=""/>
                      <input type="hidden" name="name" th:value="${place.display_name}" value=""/>

                      <input type="submit" class="btn btn-primary" value="Add" />
                    </form>                    
                </td>
              -->
              </tr>

        </tbody>
    </table>

      <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>
  </body>
</html>
